@import url('https://fonts.cdnfonts.com/css/cocogoose');

/* CSS for mobile version */

body {
  font-family: 'Lato', sans-serif;
}

header {
  display: none;
}

/* intro section */

#intro {
  background-image: url('../images/gray-bg.jpg');
}

.logo {
  display: none;
}

body.active {
  background: #272a31;
  overflow-y: hidden;
}

a:hover {
  color: #ec5242;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  transition: all 0.3s ease;
  background-color: #272a31;
}

.nav-options-ul {
  display: none;
}

.hamburger {
  display: block;
  position: relative;
  z-index: 1;
  padding: 10px;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: white;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: white;
}

.nav-menu {
  position: fixed;
  list-style: none;
  top: -5%;
  left: -1000%;
  gap: 0;
  flex-direction: column;
  background-color: #272a31;
  opacity: 0.9;
  width: 100%;
  text-align: left;
  font-family: 'COCOGOOSE', sans-serif;
  font-style: normal;
  color: #d3d3d3;
  font-weight: 60;
  font-size: 32px;
  line-height: 44px;
  transition: 0.1s;
  height: 100vh;
  padding-top: 100px;
}

.nav-menu * {
  text-decoration: none;
  color: #fff;
}

.nav-options {
  margin: 16px 0;
}

.nav-menu.active {
  left: 0;
}

.welcome-note,
.program-title,
.flex-item-ii,
h1 {
  color: #ec5242;
}

h2,
p {
  color: #272a31;
}

.dt-heading {
  display: none;
}

.mob-heading {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.welcome-note {
  font-size: 20px;
  margin: 0%;
  padding-top: 30px;
}

.intro-description {
  border: 3px solid white;
  font-size: 15px;
  padding: 10px;
  margin: 20px 0 20px 0;
}

/* main program */

.dt-courses {
  display: none;
}

.courses-btn {
  display: none;
}

.program-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../images/black-bg.jpg');
  color: #d3d3d3;
}

.programs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  font-size: 10px;
  gap: 10px;
  background-color: rgba(107, 163, 196, 0.2);
  width: 100%;
  margin: 5px;
  height: 80px;
  padding: 5px;
}

.list-item-i {
  width: 50px;
}

.list-item-ii {
  width: 110px;
}

.list-item-iii {
  width: 300px;
}

.program-image {
  width: 40px;
  height: 40px;
  filter: invert(100%);
}

.program-title {
  margin: 0%;
}

.program-description {
  color: #d3d3d3;
  margin: 0%;
}

.btn {
  color: white;
  background-color: #ec5242;
  height: 70px;
}

/* Featured Speakers */

.instructor {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  margin: auto;
}

.flex-item-i,
.flex-item-ii,
.flex-item-iii {
  font-family: 'Lato', sans-serif;
  margin: 0%;
}

.flex-item-ii,
.flex-item-iii {
  font-size: 12px;
}

.flex-item-iii {
  color: #6b6a6a;
}

.instructor-detail {
  width: 190px;
}

/* footer */

#partner,
#footer {
  display: none;
}

/* CSS for desktop version */

@media only screen and (min-width: 768px) {
  #intro {
    height: 700px;
    background-image: url('../images/dt-intro-bg.jpg');
    background-size: cover;
  }

  /* header */

  header {
    display: block;
  }

  .header {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 110px;
    background-color: #272a31;
    color: #d3d3d3;
  }

  /* intro */
  .mob-heading {
    display: none;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }

  .nav-menu {
    display: none;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 400px;
    align-items: center;
    height: 72px;
    padding: 0 110px 0 110px;
    margin: auto;
    background-color: white;
  }

  .logo {
    display: flex;
    width: 63px;
    height: 60px;
    border-radius: 50%;
  }

  .nav-options-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    list-style: none;
    font-family: 'COCOGOOSE', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    padding: 0%;
  }

  .nav-options-ul-li-a {
    text-decoration: none;
    color: #344563;
  }

  .campaign {
    border: 3px solid #ec5242;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cc {
    color: #ec5242;
    padding: 7px;
  }

  .welcome {
    padding: 100px;
  }

  .welcome-note {
    font-size: 35px;
  }

  .dt-heading {
    display: block;
    font-family: 'COCOGOOSE', sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .intro-description {
    width: 600px;
    color: #272a31;
    background-color: #d3d3d3;
  }

  /* programs */

  .programs {
    display: none;
  }

  .btn {
    display: none;
  }

  /* courses */

  .course-heading {
    padding-top: 20px;
  }

  .dt-courses {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 50px;
  }

  .dt-course-detail {
    background-color: #272a31;
    height: 175px;
    width: 165px;
    padding: 10px;
    text-align: center;
    font-size: 12px;
  }

  .courses-btn {
    display: inline;
    color: #d3d3d3;
    text-transform: uppercase;
    word-spacing: 2px;
    font-size: 14px;
    padding-bottom: 20px;
  }

  /* instructors */

  #speakers {
    color: #272a31;
    font-family: 'COCOGOOSE', sans-serif;
  }

  .instructors-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 10px;
    padding: 0 300px 0 300px;
  }

  .instructor {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin: auto;
  }

  .instructor-detail {
    width: 200px;
  }

  .more-btn {
    display: none;
  }

  /* footer */

  #partner,
  #footer {
    display: flex;
    flex-direction: column;
  }

  .partner-section {
    background: #272a31;
  }

  .partners-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .partner-heading {
    color: #d3d3d3;
    font-family: 'COCOGOOSE', sans-serif;
    font-size: 20px;
  }

  .partners {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-evenly;
    font-size: 20px;
    color: #d3d3d3;
  }

  .partners-list {
    color: #d3d3d3;
    font-size: 25px;
    font-weight: bold;
  }

  .footer-description {
    font-size: 15px;
    color: #6b6a6a;
  }
}
